
:root {
  // == PRIMARY:
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --light-cyan: hsl(174, 28%, 93%);
  --background: hsl(0, 0%, 95%);

  // == NEUTRAL:
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 85%);
  --white: hsl(0, 0%, 100%);

  --filterSvgGreen: invert(37%) sepia(69%) saturate(471%) hue-rotate(127deg) brightness(92%) contrast(94%);
  --filterSvgGray: invert(45%) sepia(10%) saturate(8%) hue-rotate(6deg) brightness(96%) contrast(93%);
  --shadow: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
  --proba:   hsl(0, 0%, 48%);
  
  
}

















